doctype html
html(lang='en')

head
  title= title
  include partials/head.pug
  link(rel='stylesheet', href='/stylesheets/chat.css')

body(class = 'general-body')
  div(class='banner')
    h1(class='banner-align-left') Hearts - Rules

  div
    h2(style='color:whitesmoke') Rules
    ul
      li Picnic rules apply.

    h2(style='color:whitesmoke') Passing:
    ul
      li There is no "hold" hand. The passes go left, across, right, then back to left.

    h2(style='color:whitesmoke') Playing:
    ul
      li The player to the left of the dealer starts with any (non-point) card he/she choses
      li Hearts is "broken" right from the get-go
      li If you shoot the moon you can go down 26 or push everyone else up 26
      li The last trick that was played is visible
      li Current round scores are visible to observers but not to players
